<div class="min-section-right fr">
    <div class="chengnuo-intro-title">
        <p class="font-color-000 f16">服务项目</p>
        <div class="liner"></div>
    </div>
    <div class="chengnuo-detail">
        <ul>
            <li class="textaling">
                <div><a href="maternity.html"><img src="/static/images/fuwuchengnuo/service-yuesao.png" alt="月嫂"></a></div>
                <a href="maternity.html"><h3 class="font-color-02beaf f16">月嫂</h3></a>
                <p class="f12 font-color-979797">指导正确哺乳、喂养、呵护、洗澡、穿衣、换洗尿布、物品消毒</p>
            </li>
            <li class="textaling">
                <div><a href="nanny.html"><img src="/static/images/fuwuchengnuo/service-baomo.png" alt="保姆"></a></div>
                <a href="nanny.html"><h3 class="font-color-ff7214 f16">保姆</h3></a>
                <p class="f12 font-color-979797">带小孩、照顾老人、做饭、烹饪、花草养护</p>
            </li>
            <li class="textaling">
                <div><a href="nursery.html"><img src="/static/images/fuwuchengnuo/service-yueyinshi.png" alt="育婴师"></a></div>
                <a href="nursery.html"><h3 class="f16 font-color-ffb424">育婴师</h3></a>
                <p class="f12 font-color-979797">营养配餐、清洁卫生、生活习惯、智力开发、体能锻炼</p>
            </li>
        </ul>
    </div>
</div>