/*css初始化代码*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; font-size: 16px}
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover{text-decoration: none;}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea {outline: none;border: none; }
textarea{resize: none;}
table { border-collapse:collapse; border-spacing:0; }

html{
    font: normal 14px "微软雅黑", Arial;
}

body {
    margin: 0;
    padding: 0;
    font-family:"\5FAE\8F6F\96C5\9ED1";
}
.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
/*文字几行*/
.p1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p5{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p6{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.fl{float:left;}
.fr{float:right;}
a:focus{outline:0;}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*字体颜色*/
.font-color-fff{color: #fff;}
.font-color-000{color: #000;}
.font-color-333{color: #333;}
.font-color-979797{color: #979797;}
.font-color-52a831{color:#52a831;}
.font-color-555{color:#555;}
.font-color-ffb424{color: #ffb424;}
.font-color-02beaf{color: #02beaf;}
.font-color-ff7214{color: #ff7214;}
.font-color-3ba712{color: #3ba712;}
.font-color-666{color: #666;}
.font-color-60b440{color: #60b440;}
/*字体大小*/
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f18{font-size: 18px;}
.f16{font-size: 16px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f20{font-size: 20px;}
.f28{font-size: 28px;}
.f30{font-size: 30px;}
.f14{font-size: 14px;}
.f50{font-size: 50px;}
.f36{font-size: 36px;}

/*背景颜色*/
.bgf5f5f5{background-color: #f5f5f5;}
.bgfff{background-color: #fff;}
.bg60b440{background-color: #60b440;}
/*文字对其*/
.textaling{text-align: center;}
.textl{text-align: left;}
.textr{text-align: right;}

/*边框颜色*/
.border-style{
    border-top: 1px solid #3ba712;
    border-bottom:1px solid #3ba712;
}
.border-fc6b6b{
    border: 2px solid #fc6b6b;
}
.border-4dd6c5{
    border: 2px solid #4dd6c5;
}
.border-ffac52{
    border: 2px solid #ffac52;
}
/*公用部分css*/
.background-green{
    background-color: #60b440;
}
.font-green{
    color: #449724;
}
.font-red{
    color: #ed3f73;
}
.font-dark{
    color: #333;
}
.main-title-dark{
    color: #555;
    font-weight: bold;
}
.sub-title-light{
    color: #a1a1a1;
}
.container-wrap{
    width: 100%;
}
.img-wrap>img{
    width: 100%;
}
.content-center{
    width: 1200px;
    margin: 0 auto;
}
.center{
    text-align: center;
}
.section{
    width: 100%;
    margin-bottom: 60px;
}
.min-section{
    width: 100%;
    padding-bottom: 20px;
}
.col-5{
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
.dark-background{
    background-color: #f5f5f5;
}
.narrow-content{
    width: 1000px;
    margin: 0 auto;
}

/*首页标题公共部分*/
.index-caption-wrap{
    width: 100%;
    height: 45px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 2px dashed #ddd;
    margin-bottom: 20px;
    clear: both;
}
.index-caption-wrap>div{
    float: left;
}
.index-caption-wrap .sequence{
    padding-top: 7px;
    padding-right: 20px;
}
.index-caption-wrap .caption-text{
    font-size: 32px;
    padding-right: 20px;
}
.index-caption-wrap .subheading{
    height: 40px;
    width: 240px;
    font-size: 20px;
    position: relative;
}
.index-caption-wrap .subheading span{
    position: absolute;
    bottom: 0;
}


/*头部导航栏公共样式*/
.header-wrap{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 105px;
}
.logo-wrap{
    float: left;
}
.logo-wrap .logo-text{
    display: inline-block;
    height: 60px;
    vertical-align: top;
    padding-top: 40px;
    padding-left: 10px;
}
.nav-wrap{
    float: right;
    position: relative;
}
/*导航栏修改*/
.dropdown .dropdown-menu{
    z-index: 399;
}

.nav-wrap ul.nav li{
    float: left;
    padding: 0 24px;
}
.nav-wrap ul.nav>li>a{
    width: 68px;
    display: block;
    text-decoration: none;
    color: #414446;
    text-align: center;
    padding: 40px 10px 37px 10px;
}
.nav-wrap ul.nav li:hover>a,.nav-wrap .active>a{
    color: #09ac00;
    border-bottom: 2px solid #09ac00;
}
.dropdown .dropdown-menu li{
    padding: 10px 8px!important;
    float: none!important;
}
.dropdown .dropdown-menu li a{
    padding: 0!important;
    border-style: none!important;
}
/*导航栏修改结束*/
/*底部公共样式*/
.footer-wrap{
    background-color: #f9f9f9;
    width: 100%;
    height: 225px;
    overflow: hidden;
}
.footer-wrap .footer-container{
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    border-bottom: 1px dashed #bebebe;
}
.footer-wrap .footer-nav{
    margin-bottom: 30px;
}
.footer-wrap .footer-nav .text{
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.footer-wrap .footer-nav .vertical-line{
    font-size: 14px;
    color: #cdd7e9;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-wrap .contact{
    margin-bottom: 20px;
}
.footer-wrap .contact img{
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}
.footer-wrap .copyright-wrap{
    color: #333;
    font-size: 11px;
}
.footer-wrap .copyright-wrap .text1{
    margin-bottom: 5px;
}
.footer-wrap .copyright-wrap .text2{
    margin-bottom: 10px;
}

/*首页*/
.index-container{
    width: 100%;
    position: relative;
    top: 0;
}
.index-content{
    margin-top: 75px;
}
.service-module{
    width: 800px;
    margin: 0 auto;
}
.service-module .service-wrap{
    width: 280px;
    text-align: center;
    margin: 0 auto;
}
.service-module .service-wrap .service-img{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.service-module .service-wrap .explain .caption{
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}
.service-module .service-wrap .explain .caption img{
    vertical-align: middle;
}
.service-module .service-wrap .explain .caption-text{
    color: #8b939b;
}
.service-module .service-margin-top{
    margin-top: 50px;
    margin-bottom: 50px;
}
.advantage-module .advantage-breadcumb{
    margin-top: 40px;
    text-align: center;
    background-color: #fff;
}
.advantage-module .advantage-breadcumb>li{
    height: 40px;
    font-size: 18px;
    color: #555;
}
.advantage-module .advantage-easyswich-wrap{
    height: 470px;
    overflow: hidden;
}

/*遮罩*/

.advantage .warp-pic-list li{overflow: hidden;width: 380px;height: 470px; float:left;display:inline;}
.advantage .warp-pic-list .img_wrap{display:block;font-size:0;overflow:hidden;}
.advantage .warp-pic-list .text-area{background-color:#f2f2f2;line-height:24px;}

/*.advantage .hd{background:url(../images/hd-line_01.jpg) no-repeat 0 50px;height:55px;}*/
.advantage .hd .title{font:26px/40px "微软雅黑","Microsoft YaHei","黑体","SimHei";}

.advantage .tab-T-3{width:66px;}
.advantage .tab-T-3 li{width:12px;height:12px;font-size:0;background-color:#dfdfdf;float:left;margin-left:10px;cursor:pointer;display:inline;}
.advantage .tab-T-3 li.cur{background-color:#d81c1b;}
.advantage .count i.line_bg{display: block;width: 45px;height: 2px;background-color: #FF7124;margin-bottom: 10px;}
.advantage .warp-pic-list{position:relative;width:1200px;height:468px;background:#fff;margin: 0px auto;}
.advantage .count li{margin-right:85px;width:236px;height:340px;}
.advantage .count li a{display: inline-block;width: 40px;height: 40px;}
.advantage .count li a:hover .img_btn2{display: none;}
.advantage .count .img_wrap{width:220px;height:135px;}
.advantage .count .img_wrap img{width:220px;}
.advantage .prev{background: url(/static/images/index/left.png);left:40%;width: 80px;height: 40px;display: inline-block;position: absolute;margin-top: 50px;}
.advantage .next{background: url(/static/images/index/right.png);right:40%;width: 80px;height: 40px;display: inline-block;position: absolute;margin-top: 50px;}
.advantage .prev:hover{background: url(/static/images/index/left_selected.png);cursor: pointer;}
.advantage .next:hover{background: url(/static/images/index/right_selected.png);cursor: pointer;}
.advantage .zhezhao-bg {
    background-color: rgba(235, 234, 234, 0);
    width: 236px;
    height: 340px;
    text-align: center;
    position: relative;
    transition: all cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.4s;
    -moz-transition: all cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.4s;
    -webkit-transition: all cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.4s;
    -o-transition: all cubic-bezier(0.6, -0.28, 0.74, 0.05) 0.4s;
    z-index: 10;
}

.advantage .zhezhao-bg:hover{
    background-color: rgba(235, 234, 234, 0.7);
    top: 0;
    cursor: pointer;
}

.advantage .zhezhao-bg h6 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
    width: 236px;
}

.mask-top{height: 680px;width: 236px;position: relative;top: -680px;transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;cursor: pointer;}
.mask-top:hover{top: -340px;}
.mask{height: 340px;width: 236px;position: relative;background-color: rgba(255,255,255,0.8);}
.mask-img{padding-top: 40px;border-bottom: 1px dashed #52a831;width: 180px;margin: 0px auto;}
.sanjiao.textr {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.mask p{line-height: 30px;width: 180px;margin: 0px auto;padding: 15px 0px;}


.characteristic-module{
    width: 930px;
    margin: 0 auto;
}
.characteristic-module .card{
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}
.characteristic-module .card .card-img img{
    width: 197px;
    height: 159px;
}
.characteristic-module .card .text{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.staraunt-module{
    margin-top: 50px;
}
.staraunt-module .staraunt-title{
    height: 30px;
}
.staraunt-module .staraunt-title .title-text{
    width: 405px;
    line-height: 30px;
    border-bottom: 1px solid #60b440;
    color: #9e9e9e;
    text-align: left;
    font-size: 20px;
}
.personal-card{
    margin-top: 30px;
}
.personal-card .title{
    height: 30px;
}
.personal-card .title>div{
    float: left;
    font-size: 16px;
    color: #545454;
}
.personal-card .title .titlelImg{
    padding-top: 5px;
    margin-right: 10px;
}
.personal-card .title .score{
    float: right;
}
.personal-card .information-wrap{
    padding-left: 20px;
}
.personal-card .information-wrap .information{
    text-align: left;
    border: 2px solid #60b440;
    padding: 10px 20px;
}
.personal-card .information-wrap .information .star-level{

}
.personal-card .information-wrap .information .star-level>div{
    display: inline-block;
    vertical-align: top;
}
.personal-card .information-wrap .information .headImg{
    width: 244px;
    height: 328px;
}
.personal-card .main-info-wrap .head-img{
    /*width: 224px;
    margin: 0 auto;*/
}
.personal-card .information-wrap .information .main-info-wrap .main-info{
    font-size: 12px;
}
.personal-card .information-wrap .information .main-info-wrap .main-info .histogram-wrap{
    width: 100%;
    height: 185px;
}
.histogram{
    margin: 0 auto;
    width: 25px;
    height: 100px;
    background-color: #60b440;
    border: 1px solid #60b440;
}
.histogram-wrap .histogram-item{
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 20px;
}
.histogram .white{
    width: 100%;
    background-color: #fff;
}
.staraunt-module .person-list-wrap>div{
    float: left;
}
.staraunt-module .person-list-wrap .person-list-img-wrap{
    padding-top: 70px;
    padding-left: 40px;
}
.staraunt-module .person-list-wrap .person-list-con .nav li{
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    color: #449724;
    margin: 11px 0;
    font-size: 12px;
    cursor: pointer;
}
.staraunt-module .person-list-wrap .person-list-con .nav li.active{
    background-color: #60b440;
    color: #fff;
}
.staraunt-module .person-list-wrap .person-list-con .person-list{
    width: 490px;
}
.staraunt-module .person-list-wrap .person-list-con .person-list .person-list-item{
    float: left;
    width: 118px;
    height: 175px;
    padding: 2px;
}
.staraunt-module .person-list-wrap .person-list-con .person-list .person-list-item img{
    width: 100%;
    height: 100%;
}
.paging-wrap{
    margin-top: 20px;
}
.paging-wrap .button{
    float: left;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    line-height: 20px;
    text-align: center;
    background-color: #60b440;
    color: #fff;
    font-size: 14px;
}
.paging-wrap .num{
    width: 370px;
    float: left;
    text-align: center;
}
.paging-wrap .num span{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #60b440;
    border: 1px solid #60b440;
    margin-right: 5px;
}
.paging-wrap .num span.active{
    background-color: #60b440;
    color: #fff;
}
.industry-wrap{
    margin-top: 40px;
    text-align: center;
}
.industry-wrap .industry-card{
    display: inline-block;
    width: 304px;
    border: 1px solid #e8e7e7;
    padding: 13px;
}
.industry-wrap .industry-card .imgWrap{
    width: 100%;
    height: 215px;
}
.industry-wrap .industry-card .imgWrap img{
    width: 100%;
    height: 100%;
}
.industry-wrap .industry-card .card-container{
    margin-top: 10px;
}
.industry-wrap .industry-card .card-container ul li{
    clear: both;
}
.industry-wrap .industry-card .card-container ul li .left{
    float: left;
    line-height: 30px;
    color: #333;
    font-size: 14px;
}
.industry-wrap .industry-card .card-container ul li .right{
    float: right;
    height: 30px;
    padding-top: 3px;
}


/*月嫂模块*/
.maternity-container{
    padding-top: 105px;
}
.maternity-content{
    margin-top: 100px;
}
.maternity-caption-wrap{
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.maternity-caption-wrap .title{
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.maternity-caption-wrap .text{
    font-size: 18px;
    color: #666;
    padding-top: 18px;
    padding-bottom: 18px;
}
.introduce-module{
    margin-top: 20px;
}
.introduce-module .service-card{
    width: 222px;
    margin: 0 auto;
    border: 2px solid #60b440;
}
.introduce-module  .service-card .info-wrap{
    text-align: center;
}
.introduce-module  .service-card .info-wrap .title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.introduce-module  .service-card .info-wrap .text{
    font-size: 14px;
    color: #999;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    height: 60px;
}
.guarantee-module{
    margin-top: 60px;
    margin-bottom: 60px;
}
.guarantee-module .guarantee-img-wrap{
    width: 258px;
    height: 258px;
    margin: 0 auto;
}
.price-module{
    margin-top: 50px;
}
.price-module .card{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 33px 24px;
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    margin-bottom: 50px;
}
.price-module .card .card-img{
    width: 168px;
    height: 138px;
}
.price-module .card .card-information .price{
    text-align: right;
    font-size: 18px;
}
.price-module .card .card-information .name{
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.price-module .card .card-information .card-information-details{
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.cross-pic{
    width: 100%;
    height: 465px;
    background: url("/static/images/maternity/banner2.png") no-repeat;
    background-position: center top;
}


/*育婴师模块*/
.nursery-container{
    padding-top: 105px;
}
.nursery-content{
    margin-top: 100px;
}
.nursery-caption-wrap{
    text-align: center;
}
.nursery-caption-wrap .title{
    font-size: 40px;
    color: #555;
    padding-bottom: 10px;
}
.nursery-caption-wrap .text{
    font-size: 18px;
    color: #555;
    padding-bottom: 10px;
}
.value-module{

}
.value-module .value-info{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #808080;
    text-indent:35px
}
.value-module .value-img-wrap{
    width: 134px;
    height: 193px;
    margin: 0 auto;
}
.service-content-module{
    margin-top: 100px;
}
.service-content-module .card-wrap{
    width: 444px;
    height: 155px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 95px;
}
.service-content-module .card-background1{
    background: url("/static/images/nursery/1.png") no-repeat center;
}
.service-content-module .card-background2{
    background: url("/static/images/nursery/2.png") no-repeat;
}
.service-content-module .card-background3{
    background: url("/static/images/nursery/3.png") no-repeat;
}
.service-content-module .card-background4{
    background: url("/static/images/nursery/4.png") no-repeat;
}
.service-content-module .card-wrap .card-content{
    width: 247px;
    /*height: 54px;*/
    margin-top: 50px;
    margin-left: 146px;
    font-size: 12px;
    color: #808080;
}
.service-price-module{
    margin-top: 100px;
    margin-bottom: 100px;
}
.service-price-module .service-price-wrap{
    width: 151px;
    height: 230px;
    margin: 0 auto;
    background: url("/static/images/nursery/pic.png") no-repeat center top;
    overflow: hidden;
}
.service-price-module .service-price-wrap .service-price-content{
    width: 120px;
    margin: 60px auto 0 auto;
    text-align: center;
}
.service-price-module .service-price-wrap .service-price-content .title{
    font-size: 24px;
    margin-bottom: 10px;
}
.service-price-module .service-price-wrap .service-price-content .price{
    font-size: 18px;
    color: #808080;
    width: 100px;
    margin: 0 auto;
}
.quality-module{
    margin: 100px 0;
}
.quality-wrap{
    width: 170px;
    height: 280px;
    margin: 0 auto;
}


/*保姆模块*/
.exclusive-module{
    margin: 100px auto;
}
.exclusive-module .exclusive-wrap{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.quality-guarantee-module{
    margin: 100px auto 0 auto;
}
.quality-guarantee-module .quality-guarantee-wrap{
    width: 200px;
    height: 170px;
    margin: 0 auto 90px auto;
}
.process-module{
    margin: 100px auto 0 auto;
}
.process-module .process-wrap{
    width: 200px;
    height: 190px;
    margin: 0 auto 90px auto;
}
.process-module .process-margin-left{
    margin-left: 15px;
}

/*开荒保洁模块*/
.wasteland-cleaning-container{
    padding-top: 105px;
}
.wasteland-cleaning-container .wasteland-cleaning-nav{
    margin-top: 30px;
    margin-bottom: 20px;
}
.wasteland-cleaning-container .wasteland-cleaning-nav ol{
    background-color: #fff;
}
.wasteland-cleaning-container .wasteland-cleaning-nav li{
    color: #555;
}
.wasteland-cleaning-container .wasteland-cleaning-nav li.font-big{
    font-size: 20px;
}
.wasteland-cleaning-container .card-wrap{
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.wasteland-cleaning-container .card-wrap .title-wrap{
    margin-top: 30px;
    border-bottom: 1px solid #e2e2e2;
}
.wasteland-cleaning-container .card-wrap .title-wrap .title{
    width: 171px;
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    font-size: 28px;
    color: #555;
}
.wasteland-cleaning-container .card-wrap .title-wrap .title .title-img{
    margin-left: -16px;
}
.wasteland-cleaning-container .card-wrap .card-footer-wrap{
    height: 64px;
}
.wasteland-cleaning-container .card-wrap .card-footer-wrap .card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: #60b440;
}
.wasteland-cleaning-container .card-wrap .card-footer-wrap .card-footer-img{
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.wasteland-cleaning-container .card-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-area-module .service-area-card{
    width: 174px;
    margin: 35px auto 0 auto;
}
.service-area-module .service-area-card .card-img-wrap{
    width: 174px;
    height: 174px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.service-area-module .service-area-card .card-img-wrap img{
    height: 100%;
}
.service-area-module .service-area-card .card-title{
    text-align: center;
    color: #666;
    margin-top: 10px;
}
.service-area-module .service-area-card .card-title .card-main-title{
    font-size: 20px;
}
.service-area-module .service-area-card .card-details{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.wasteland-cleaning-price-module .price-img{
    width: 1000px;
    margin: 0 auto;
}
.service-standard-img{
    text-align: center;
}


/*日常保洁模块*/
.daily-service-module{

}
.daily-service-module .big-img{
    width: 344px;
}
.daily-service-module .card-wrap{
    width: 130px;
    margin: 20px auto;
    text-align: center;
}
.daily-service-module .card-wrap .card-img-wrap{

}
.daily-service-module .card-wrap .card-title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.daily-price-module{

}
.daily-price-module .daily-price-card{

}
.daily-price-module .daily-price-card .top{
    width: 116px;
    height: 80px;
    background: url("/static/images/cleaning/fang1.png") no-repeat 36px 0;
    /*line-height: 80px;*/
    padding-left: 28px;
    padding-top: 15px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}
.daily-price-module .daily-price-card .top .bigfont{
    font-size: 24px;
    line-height: 20px;
}
.daily-price-module .daily-price-card .bottom{
    width: 200px;
    height: 250px;
    background: url("/static/images/cleaning/shangjian.png") no-repeat;
    overflow: hidden;
}
.daily-price-module .daily-price-card .bottom .bottom-text{
    width: 75px;
    margin-top: 35px;
    margin-left: 30px;
    text-align: center;
    font-size: 50px;
    color: #fff;
}
.daily-price-module .daily-price-info{
    padding-left: 50px;
    font-size: 14px;
    color: #333;
}
.daily-price-module .daily-price-info.wujiaoxing{
    background: url("/static/images/cleaning/wujiaoxing.png") no-repeat;
}
.time-module{

}
.time-module .pic-list{
    width: 190px;
    margin: 20px auto;
}
.time-module .big-pic{
    width: 870px;
    margin: 20px auto;
}


/*小时工*/
.hourly-worker-container{
    padding-top: 105px;
}
.hourly-worker-container .hourly-worker-nav{
    margin-top: 20px;
}
.hourly-worker-container .hourly-worker-nav ol{
    background-color: #fff;
}
.hourly-worker-container .card-wrap{
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.hourly-worker-container .service-area-card .card-img-wrap{
    width: 180px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    border: 3px solid #52a831;
}
.hourly-worker-container .service-area-card .card-img{
    width: 181px;
    height: 166px;
    text-align: center;
    padding-left: 23px;
}
.hourly-worker-container .card-wrap .title-wrap{
    margin-top: 30px;
    border-bottom: 1px solid #e2e2e2;
}
.hourly-worker-container .card-wrap .title-wrap .title{
    width: 171px;
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    font-size: 28px;
    color: #555;
}
.hourly-worker-container .card-wrap .title-wrap .title .title-img{
    margin-left: -16px;
}
.hourly-worker-container .card-wrap .card-footer-wrap{
    height: 64px;
}
.hourly-worker-container .card-wrap .card-footer-wrap .card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: #60b440;
}
.hourly-worker-container .card-wrap .card-footer-wrap .card-footer-img{
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hourly-worker-container .card-wrap .card-footer-wrap{
    height: 64px;
}
.hourly-worker-container .card-wrap .card-footer-wrap .card-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: #60b440;
}
.hourly-worker-container .card-wrap .card-footer-wrap .card-footer-img{
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.hourly-worker-container .card-content{
    margin-top: 20px;
    margin-bottom: 20px;
}


/*服务承诺*/
.wasteland-cleaning-nav{
    margin-top: 20px;
}
.service-commitment-container{
    padding-top: 105px;
}
.service-commitment-container .min-section{
    width:950px;
    margin-bottom: 70px;
}
.service-commitment-container .narrow-content {
    width: 100%;
    margin: 70px auto 80px;
    padding: 0px 40px;
}
.service-commitment-container .breadcrumb{
    background-color: #fff;
}
.service-commitment-container .card-wrap {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.service-commitment-container .card-wrap .card-footer-wrap {
    height: 64px;
}
.service-commitment-container .card-wrap .card-footer-wrap .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: #60b440;
}
.service-commitment-container .card-wrap .card-footer-wrap .card-footer-img {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.chengnuo-intro-title .liner {
    border-left: 100px solid #60b440;
    border-right: 140px solid #ddd;
    height: 2px;
}
.chengnuo-intro-title p{
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
}
.chengnuo-intro{
    width: 305px;
    margin: 30px auto 0px;
}
.chengnuo-intro p{
    margin-bottom: 30px;
}

.service-commitment-container .service-list{
    border-top: 2px solid #ddd;
    margin-bottom: 190px;
    padding-top: 80px;
}

.min-section-right{
    width: 240px;
    margin-bottom: 70px;
    background-color: #fff;
}
.chengnuo-detail{
    padding: 50px 30px;
}
.chengnuo-detail ul li,.chengnuo-detail ul li div,.chengnuo-detail ul li h3,.chengnuo-detail ul li p{
    margin-bottom: 16px;
}


/*关于我们*/
.wasteland-cleaning-nav .team-intro:before,.wasteland-cleaning-nav .contact:before{
    content:'';
    padding: 0px;
}
.wasteland-cleaning-nav .team-intro{
    margin-left: 200px;
    cursor: pointer;
}
.wasteland-cleaning-nav .contact{
    margin-left: 120px;
    cursor: pointer;
 }
.wasteland-cleaning-nav .team-intro:hover,.wasteland-cleaning-nav .contact:hover{
    border-top: 1px solid #3ba712;
    border-bottom:1px solid #3ba712;
}
.about-intro{
    margin-top: 80px;
}
.about-bg{
    background: url("/static/images/about/bian.png") no-repeat 100% 100%;
    padding-bottom: 8px;
    padding-left: 28px;
}
.about-team{
    margin: 40px 0px;
}
.about-title{
    padding-bottom: 10px;
    margin-top: 60px;
}
.about-text{
    padding-bottom: 10px;
}
.about-team dl dt{
    margin-right: 20px;
    border-bottom:  1px solid #3ba712;
}
.about-team dl dt,.about-team dl dd{
    line-height: 30px;
}
.about-team-intro{
    padding-right: 28px;
}
.about-team-intro p{
    line-height: 30px;
}

.about-contact{
    margin-top: 90px;
    padding: 0px 50px;
}
.about-contact div{
    margin-bottom: 18px;
}
.about-contact h3,.about-contact h2{
    line-height:20px;
}
.about-contact>div{
    border-right: 1px solid #ddd;
}
.address-img{background: url("/static/images/about/dizhi.png") no-repeat center;}
.tel-img{background: url("/static/images/about/tel.png") no-repeat center;}
.email-img{background: url("/static/images/about/email.png") no-repeat center;}
.way-img{background: url("/static/images/about/adress.png") no-repeat center;}
.about-contact .address-img,.about-contact .tel-img,.about-contact .email-img,.about-contact .way-img{
    height: 58px;
}
.about-contact h3{
    height:20px;
}
.about-contact h2{
    height:40px;
}
.about-contact .address-liner,.about-contact .tel-liner,.about-contact .email-liner,.about-contact .qq-liner{
    border: 1px solid #ccc;
    margin-bottom: 0px;
}
.contact-address,.contact-tel,.contact-email,.contact-way{
    cursor: pointer;
}
.contact-address:hover .address-img{
    background: url("/static/images/about/dizhi1.png") no-repeat center;
}
.contact-tel:hover .tel-img{
    background: url("/static/images/about/tel1.png") no-repeat center;
}
.contact-email:hover .email-img{
    background: url("/static/images/about/email2.png") no-repeat center;
}
.contact-way:hover .way-img{
    background: url("/static/images/about/address1.png") no-repeat center;
}
.contact-address:hover .address-liner{
    border: 1px solid #3ba712;
}
.contact-tel:hover .tel-liner{
    border: 1px solid #3ba712;
}
.contact-email:hover .email-liner{
    border: 1px solid #3ba712;
}
.contact-way:hover .qq-liner{
    border: 1px solid #3ba712;
}
.about-map{
    height: 382px;
    margin-top: 50px;
}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}


/*安全保障*/
.guarantee{
    border-top: 2px solid #3ba712;
}
.guarantee-title{
    margin: 50px 0px 30px;
}
.guarantee-intro{
    margin-bottom: 70px;
}
.guarantee-title .liner{
    width: 43px;
    border: 4px solid #3ba712;
    margin: 14px auto 0px;

}
.guarantee-list>div{
    margin-bottom: 80px;
    height: 162px;
}
.guarantee-list h3{
    margin: 15px 0px;
}
.guarantee-list h4{
    margin-bottom: 30px;
}
.guarantee-list .bgc{
    height:162px;
}

.guarantee-list .bg-shiming-img{
    background: url("/static/images/guarantee/shiming11.png") no-repeat right 20%;
}
.guarantee-list .bg-jiankang-img{
    background: url("/static/images/guarantee/jiankang1.png") no-repeat right 20%;
}
.guarantee-list .bg-baozhang-img{
    background: url("/static/images/guarantee/baozhang.png") no-repeat right 20%;
}
.guarantee-list .bg-huiyuan-img{
    background: url("/static/images/guarantee/huiyuan1.png") no-repeat right 20%;
}
.guarantee-list .bg-zhuanye-img{
    background: url("/static/images/guarantee/zhuanye.png") no-repeat right 20%;
}
.bgc:hover h3,.bgc:hover h4,.bgc:hover p{
    color:#fff;
}
.bgc:hover{
    background:none;
    background-color: #60b440;
    cursor: pointer;
}
.guarantee .insurance-list{
    margin: 40px 0px;
    cursor: pointer;
}
.guarantee .insurance-list .liner{
    display: none;
}
.guarantee .insurance-list:hover .liner{
    display: block;
}
.guarantee .insurance-list .liner{
    width: 65px;
    margin: 0px auto;
}
.insurance-list .insurance-title{
    margin: 20px;
}
.insurance-list insurance-img{
    height: 86px;
}


/*右边咨询联系*/
.rigth-fix{
    position: fixed;
    right:12px;
    top:200px;
    z-index:100;
}
.rigth-fix ul{

}
.rigth-fix ul>li
{
    list-style:none;
    width:67px;
    height:56px;
    margin-bottom:3px;
    /*background-color:#E6E6E6;*/
    position: relative;
    padding-left:10px;
}
.rigth-fix ul>li>a{
    display: block;
    width:67px;
    height:56px;
}
.rigth-fix ul>li.li1>a{
    background:url("/static/images/index/yue-bg.png") no-repeat center #E6E6E6;
}
.rigth-fix ul>li.li2>a{
    background:url("/static/images/index/weixin.png") no-repeat center #E6E6E6;
}
.rigth-fix ul>li.on{
    /*background-color:#FF7124;*/
}
.rigth-fix ul>.li1.on>a{
    background:url("/static/images/index/yue-bg.png") no-repeat center #60b440;
}
.rigth-fix ul .li2.on>a{
    background:url("/static/images/index/weixin.png") no-repeat center #60b440;
}
.rigth-fix>.li4{
    padding-left:10px;
}
.rigth-fix>.li4>a{
    display: block;
    width:67px;
    height:46px;
    background:url("/static/images/index/top.png") no-repeat center;
}
.rigth-fix ul>li>.erweima{
    width:170px;
    height:193px;
    padding:7px 7px 0;
    background-color:#F0F0F0;
    position: absolute;
    left:-172px;
    top:-60px;
    display: none;
}
.rigth-fix ul>li>.erweima p{
    text-align:center;
    height:42px;
    line-height:42px;
    font-size:16px;
    color:#333;
}
.rigth-fix ul>.li1 .beside{
    position: absolute;
    background-color:#F0F0F0;
    width:260px;
    left:-258px;
    top:0px;
    padding:9px;
    display: none;
}
.rigth-fix ul>.li1 .beside .beside-cont {
    width:240px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 20px;
}
.rigth-fix ul .li1 .beside .beside-cont .service {
    border-bottom: 1px solid #D4D3D3;
    background-color: #fff;
}
.rigth-fix ul .li1 .beside .beside-cont .service h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 12px 5px;
    width: 80px;
    border-bottom: 2px solid #60b440;
}
.rigth-fix ul .li1 .beside-cont .info {
    margin-top: 12px;
    overflow: hidden;
}

.rigth-fix ul .li1 .beside-cont .info .form input {
    display: block;
    width: 177px;
    height: 32px;
    line-height:32px;
    padding: 0px 10px;
    margin:0 auto 7px;
    background-color: #f9f9f9;
}
.rigth-fix ul .li1 .beside-cont .info .form select
{
    width: 177px;
    height: 32px;
    padding: 0px 10px;
    margin-bottom: 7px;
    background-color: #f9f9f9;
}

.rigth-fix ul .li1 .beside-cont .info textarea {
    display: block;
    background-color: #f9f9f9;
    padding: 10px 10px;
    margin:0 auto 7px;
    width:177px;
    height:50px;
    overflow: auto;
}
.rigth-fix ul .li1 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#414446;
}
.rigth-fix ul .li1 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#414446;
}
.rigth-fix ul .li1 .beside-cont .info .form input:-ms-input-placeholder,
.rigth-fix ul .li1 .beside-cont .info .form textarea:-ms-input-placeholder {
    color: #414446;
}
.rigth-fix ul .li1 .beside-cont .info .form input::-webkit-input-placeholder,
.rigth-fix ul .li1 .beside-cont .info .form textarea::-webkit-input-placeholder {
    color: #414446;
}
.rigth-fix ul .li1 .beside-cont .info .appoint {
    background-color: #60b440;
    color: #FFFFFF;
    padding: 8px 58px;
    font-size: 16px;
    line-height: 38px;
}

/*左边客服*/
.left-distance{
    left:0px;
}
.left-fix{
    position: fixed;
    left:0px;
    top:200px;
    z-index:100;
    width: 150px;
    border-radius: 5px;
    border:1px solid #ddd;
}
.left-fix ul li{
    height:28px;
    width: 134px;
    border-radius: 5px;
    margin: 10px auto;
}
.left-fix ul li i{
    height:18px;
    width: 15px;
    display: inline-block;
    line-height: 28px;
    margin: 0px 5px;
}
.left-fix ul li span{
    height:18px;
    display: inline-block;
    line-height: 28px;
}
.left-img-tab{
    position: fixed;
    left:150px;
    top:300px;
    z-index:100;
    width: 33px;
    cursor: pointer;
}