<!--左边客服-->
<div class="left-fix bgfff">
    <div class="customer-service textaling">
        <img src="/static/images/index/kefu.png" alt="客服">
    </div>
    <div>
        <ul>
            <li class="bg60b440"><i><img src="/static/images/index/touxiang.png" alt="客服头像"></i><span class="f12 font-color-fff">找月嫂</span></li>
            <li class="bg60b440"><i><img src="/static/images/index/touxiang.png" alt="客服头像"></i><span class="f12 font-color-fff">找保姆</span></li>
            <li class="bg60b440"><i><img src="/static/images/index/touxiang.png" alt="客服头像"></i><span class="f12 font-color-fff">找育儿嫂</span></li>
            <li class="bg60b440"><i><img src="/static/images/index/touxiang.png" alt="客服头像"></i><span class="f12 font-color-fff">找保洁</span></li>
            <li class="bg60b440"><i><img src="/static/images/index/touxiang.png" alt="客服头像"></i><span class="f12 font-color-fff">找钟点工</span></li>
        </ul>
    </div>
    <div class="textaling"><img src="/static/images/index/erweima.png" alt="公众号"></div>
    <div>
        <ul>
            <li><i><img src="/static/images/index/dianh.png" alt="客服电话"></i><span class="f14 font-color-000">400-111-8666</span></li>
        </ul>
    </div>
</div>
<div class="left-distance  left-img-tab">
    <img src="/static/images/index/line-contact.png" alt="在线客服">
</div>