<!-- 右边咨询 -->
<div class="rigth-fix">
    <ul>
        <li class="li1">
            <a href="javascript:void(0)"></a>
            <div class="beside">
                <div class="beside-cont">
                    <div class="service">
                        <h2>快速预约</h2>
                    </div>
                    <div class="info">
                        <div class="form">
                            <select id="service-types" class="f14" name="service-types">
                                <option value="选择服务类型">选择服务类型</option>
                                <option value="保洁">保洁</option>
                                <option value="搬家">搬家</option>
                                <option value="甲醛检测">甲醛检测</option>
                                <option value="甲醛检测">甲醛治理</option>
                                <option value="月嫂">月嫂</option>
                                <option value="催乳师">催乳师</option>
                                <option value="育儿嫂">育儿嫂</option>
                                <option value="保姆">保姆</option>
                            </select>
                            <input class="f14" id="name" type="text" placeholder="请输入您的姓名">
                            <input class="f14" id="tel" type="tel" placeholder="请输入手机号" maxlength="11">
                            <textarea class="f14" id="dizhi" name="" placeholder="请输入详细地址精确到小区"></textarea>
                            <textarea class="f14" id="remark" name="" placeholder="其他补充要求：如上门服务时间、日期....."></textarea>
                        </div>
                        <a class="appoint" href="javascript:void(0)" onclick="yuyue();">马上预约</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="li2">
            <a href="javascript:void(0)"></a>
            <div class="erweima" style="display: none;">
                <img src="http://www.51ejz.com/images/right-icon5.jpg" alt="">
                <p>扫一扫 关注微信</p>
            </div>
        </li>
    </ul>
    <div class="li4"><a href="#"></a></div>
</div>